<div class="home-container">
    <mat-grid-list cols="3" rowHeight="5:1" class="header">
        <mat-grid-tile>        
            <button class="nav-link-to-dev" routerLink="/dev" routerLinkActive="active">
                <div class="session">session id:</div>
                <div class="session-id-container">{{ sessionId }}</div>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>            
            <img src="./../../assets/KenyonBlue.svg" class="image" alt="logo-image">
        </mat-grid-tile>
        <mat-grid-tile>
            <div> <img class="hacker-image" src="../../assets/cyber-hacker-icon-simple-style-vector-28643877.jpg" alt=""> </div>
        </mat-grid-tile>
      </mat-grid-list>
   
    <p>home-screen works!</p>
</div>

