.home-container {
    background: rgb(42,42,42);
    background: radial-gradient(circle, rgba(42,42,42,1) 0%, rgba(42,42,42,0.9794292717086834) 35%, rgba(42,42,42,1) 100%);
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.nav-link-to-dev {
    display: flex;
    height: 30px;
    width: 16vw;
    border-radius: 5px;
    margin: 5px;
    border-radius: 8px;
    background: linear-gradient(145deg, #2d2d2d, #262626);
    box-shadow:  5px 5px 0px #202020, 
                 -5px -5px 0px #343434;
    text-align: center;
    border: none;
}

.session {
    color: gray;
    margin-top: 8px;
    width: 48%;
}

.session-id-container {
    color: gray;
    margin-top: 8px;
    width: 48%;
}

.image {
    height: 85px;
    width: 50vw;
}

// mat-grid-list {
// }

.hacker-image {
    height: 60px;
    width: 60px;
}